{% extends 'base.html' %}
{% block metatags%}
{% endblock %}
{% block title %}Aldaron.ru — Chess{% endblock %}
{% block links %}
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
<div id="board">
    {% for i in range(8, 0, -1) %}
        <div class="row">
            {% for j in range(1, 9) %}
                {% if ((i + j) % 2) == 0 %}
                    <div class="cell black" id="{{letters[j] ~ i }}">
                        {% if board[letters[j] ~ i] != 0 %}
                            {{ board[letters[j] ~ i].sprite|safe }}
                        {% endif %}
                    </div>
                {% else %}
                    <div class="cell white" id="{{letters[j] ~ i }}">
                        {% if board[letters[j] ~ i] != 0 %}
                            {{ board[letters[j] ~ i].sprite|safe }}
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>
<script>
    var socket = io();

    socket.on('chess_response', (data) => {
        const isMoveValid = data.valid;
        if (isMoveValid) {
            console.log(data.pos1 + ' -> ' + data.pos2);
            document.getElementById(data.pos1).innerHTML = "";
            document.getElementById(data.pos2).innerHTML = data.square_content;
        }
        console.log(isMoveValid);
    });

    document.addEventListener('DOMContentLoaded', () => {
        const cells = document.querySelectorAll('.cell');
        var first_move_is_made = false;
        var prev_point = null;

        cells.forEach(cell => {
            cell.addEventListener('click', () => {
                cell.style.background = "#a44";
                if (first_move_is_made) {
                  socket.emit('chess_move', {pos1: prev_point, pos2: cell.id});
                  cell.style = null;
                  document.getElementById(prev_point).style = "";
                  prev_point = null;
                  first_move_is_made = false;
                } else {
                    first_move_is_made = true;
                    prev_point = cell.id;
                }
            });
        });
    });
</script>
{% endblock %}