#board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    border: 1px solid #333;
}

#board .row {
    display: flex;
    flex-direction: row;
}

#board .cell {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board .cell.white {
    background-color: white;
}

#board .cell.black {
    background-color: #555;
}

#board .piece-img {
    width: 90%;
    height: 90%;
    object-fit: contain;
    object-position: center;
}
